@charset "UTF-8";

/*************************myCouponBuy**************************/

/*쿠폰*/
.myCoupon {
	width :100%;
	height:100%;
	padding-top: 30px;
	margin-left: 105px;
}

.myCoupon> .coupon1 {
	width: 252px;
	height: 159px;
	background: url(/assets/images/soil_3.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: inline-block;
}

.myCoupon> .coupon2 {
	width: 252px;
	height: 159px;
	background: url(/assets/images/soil_5.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: inline-block;
}

.myCoupon> .coupon3 {
	width: 252px;
	height: 159px;
	background: url(/assets/images/soil_10.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: inline-block;
}

.myCoupon> .coupon4 {
	width: 252px;
	height: 159px;
	background: url(/assets/images/soil_30.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: inline-block;
}

.myCoupon> .coupon5 {
	width: 252px;
	height: 159px;
	background: url(/assets/images/soil_50.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: inline-block;
}

.myCoupon> .coupon6 {
	width: 252px;
	height: 159px;
	background: url(/assets/images/soil_100.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: inline-block;
}

.myCoupon> .coupon7 {
	width: 252px;
	height: 159px;
	background: url(/assets/images/gs_3.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: inline-block;
}

.myCoupon> .coupon8 {
	width: 252px;
	height: 159px;
	background: url(/assets/images/gs_5.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: inline-block;
}

.myCoupon> .coupon9 {
	width: 252px;
	height: 159px;
	background: url(/assets/images/gs_10.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: inline-block;
}

.myCoupon> .coupon10 {
	width: 252px;
	height: 159px;
	background: url(/assets/images/gs_30.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: inline-block;
}

.myCoupon> .coupon11 {
	width: 252px;
	height: 159px;
	background: url(/assets/images/gs_50.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: inline-block;
}

.myCoupon> .coupon12 {
	width: 252px;
	height: 159px;
	background: url(/assets/images/gs_100.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: inline-block;
}


