@charset "UTF-8";

/*비밀번호 재확인 글자*/
.myPage_InfoChkEx h4 {
    color: rgba(81,81,81,1);
    font-family: Noto Sans;
    font-weight: SemiBold;
    font-size: 18px;
    text-align: left;
}

.myPage_InfoChkEx p {
    color: rgba(81,81,81,1);
    font-family: Noto Sans;
    font-weight: Regular;
    font-size: 14px;
    text-align: left;
    margin-top: 13px;
    padding-bottom: 20px;
    border-bottom: 3px solid rgba(68, 84, 161, 1);
}

.myPage_article2 .myPage_InfoChkPass {
   height:300px;
    border-bottom: 1px solid rgba(217,217,217,1);
}