@charset "UTF-8";

#wrap {
	width: 1920px;
}

#container {
	width: 1440px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 300px 1600px;
	grid-template-rows: 200px 200px 100px 800px;
	grid-template-areas: 'menu menu' 'aside top' 'aside middle'
		'aside bottom';
}

#container div {
	padding: 20px;
	/*border: 1px solid #000;*/
}

#top {
	padding: 0px;
}

#menu {
	grid-area: menu;
}

#aside {
	grid-area: aside;
}

#top {
	grid-area: top;
}

#middle {
	grid-area: middle;
	width: 100%;
	height: 70px;
	background: rgba(239, 239, 239, 1);
	opacity: 1;
	border: 1px solid rgba(217, 217, 217, 1);
	overflow: hidden;
}

#bottom {
	grid-area: bottom;
	position: relative;
}

.v137_13264 {
	background: rgba(247, 247, 247, 1);
	position: relative;
}

/*** 메뉴 //////////////////////////////////********
/*메뉴 박스*/
#menu>.menu1 {
	width: 260px;
	height: 100px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	position: absolute;
	top: 50px;
	left: 616px;
	border: 1px solid rgba(217, 217, 217, 1);
	overflow: hidden;
}


.menu1>.menu1-1 {
	position: absolute;
	border: 1px solid #000000;
	display: inline;
	
}

.menu1>.menu1-2 {
	border: 1px solid #000000;
	display: inline;
}

.menu1>.menu1-3 {
	border: 1px solid #000000;
	display: inline;
}

.menu1>.menu1-4 {
	border: 1px solid #000000;
	display: inline;
}




#menu>.menu2 {
	width: 160px;
	height: 100px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	position: absolute;
	top: 50px;
	left: 879px;
	border: 1px solid rgba(217, 217, 217, 1);
	overflow: hidden;
}

#menu>.menu3 {
	width: 160px;
	height: 100px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	position: absolute;
	top: 50px;
	left: 1042px;
	border: 1px solid rgba(217, 217, 217, 1);
	overflow: hidden;
}

/*마이페이지 메뉴리스트*/
.mylist>li {
	padding: 15px 0px 0px 20px;
	border: 1px solid #a6a6a6;
	font-size: 14px;
	font-weight: 700;
	color: #585858;
	width: 220px;
	height: 50px;
}

.mylist>li:hover {
	color: #4454a1;
	background-color: rgba(217, 217, 217, 1);
	font-weight: 800;
}

/*마이페이지 글자*/
#aside>h2 {
	padding: 0px 0px 0px 23px;
	color: rgba(47, 47, 48, 1);
	top: 394px;
	left: 244px;
	font-family: Noto Sans;
	font-size: 24px;
	opacity: 1;
	font-weight: 700;
}

/*메뉴 리스트글자*/
.menulist {
	padding: 25px 0px 0px 0px;
	color: rgba(47, 47, 48, 1);
	font-family: Noto Sans;
	font-weight: 700;
	font-size: 14px;
	opacity: 1;
	font-weight: 15px;
}

.menulist>li {
	padding: 10px 0px 0px 0px;
	color: rgba(47, 47, 48, 1);
	font-family: Noto Sans;
	font-weight: SemiBold;
	font-size: 14px;
	opacity: 1;
	font-weight: 15px;
}

/*/////////////////////////middle////////////////////////*/
#middle>.inputBox {
	padding: 0px 0px 30px 0px;
	text-align: center;
}

/*포인트 글자*/
#top>.point {
	margin: 0px 30px 30px 0px;
	color: rgba(47, 47, 48, 1);
	font-family: Noto Sans;
	font-weight: SemiBold;
	font-size: 24px;
	opacity: 1;
	font-weight: 700;
	display: inline;
}

/*포인트 사용 적립 내역 글자*/
#top>.point2 {
	width: 100px;
	color: rgba(47, 47, 48, 1);
	text-align: left;
	display: inline;
}

#top>.pointBox {
	width: 242px;
	color: rgba(47, 47, 48, 1);
	top: 405px;
	left: 655px;
	font-family: Noto Sans;
	font-weight: Regular;
	font-size: 16px;
	opacity: 1;
	text-align: left;
}

#bottom>h3 {
	width: 200px;
	color: rgba(70, 84, 163, 1);
	top: 674px;
	left: 530px;
	font-family: Noto Sans;
	font-weight: 700;
	font-size: 24px;
	opacity: 1;
	text-align: left;
}

/*테이블*/
#bottom>table {
	width: 100%;
	height: 51px;
	background: rgba(245, 245, 245, 1);
	opacity: 1;
	position: absolute;
	top: 60px;
	left: 0px;
	overflow: hidden;
	border-top: 3px solid rgba(68, 84, 161, 1);
	text-align: center;
}

#bottom th {
	padding: 20px 0px 20px 0px;
	background-color: rgba(245, 245, 245, 1);
	border-bottom: 2px solid rgba(245, 245, 245, 1);
}

#bottom td {
	padding: 20px 0px 20px 0px;
	background-color: white;
	border-bottom: 2px solid rgba(245, 245, 245, 1);
}